<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.test.mapper.MemberMapper">
   
   <insert id="insertMember" parameterType="com.board.test.domain.Member">
        INSERT INTO tbl_member VALUES (#{mem_id}, #{mem_pw}, #{mem_name}, #{mem_email}, #{mem_address}, #{mem_phone})
    </insert>
    
    <select id="selectOneMember" parameterType="String" resultType="com.board.test.domain.Member">
        SELECT * FROM tbl_member WHERE mem_id = #{mem_id} and mem_pw = #{mem_pw}
    </select>
    
    <select id="selectAllMember" resultType="com.board.test.domain.Member">
        SELECT * FROM tbl_member
    </select>

</mapper>